<center>
<h1><%= @cat.name.upcase %></h1>
<br>
<h2> Last fed: <%= @cat.last_update %></h2>
<br>
<img src="<%= @cat.image %>" height="400" width="400">

<br>

<a href="/cats/<%= @cat.id %>/feed" class="buttons">GIV <%= @cat.name.upcase %> A LIL TREAT</a>
<br>

</center>

<br>
<br>
<br>

<form action="/cats/<%= @cat.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delet :'(" class="buttons">
</form>


<a href="/cats/<%= @cat.id %>/edit" class="buttons">
  Edit</a>
<br>
<a href="/cats" class="buttons">All Cats</a>
<br>
<a href="/logout" class="buttons">Logout</a>
