<center>
  <br>
  <h2>
    <%=@cat.name %>
    has been fed
    <%= @cat.counter %>
    times.</h2>
  <h2> Last fed: <%= @cat.last_update %></h2>

   <%=24.hours.ago.utc%>
  <br>
  <img src="<%= @cat.image %>">

  <% if @cat.counter < 10 %>
    <h1>Thamk you bröther!
      <br>
      May I hav mor salämi?
    </h1>
  <% else %>
    <h1>
      <br>
      I'm full - 10 is enough
      <br>
      salami is a treat (*^_^*)
    </h1>
  <% end %>


  <a href="/cats/<%= @cat.id %>/feed" class="buttons">Giv moar treat</a>
  <a href="/cats" class="buttons">Feed another cat</a>
  <br>
  <a href="/logout" class="buttons">Logout</a>
</center>
